

.btn{
    background-color: #d5a249;
    width:250px;
}

.ul{
    color:#406786;
}

#text{
    font-size: small;
    color: grey;
}

.button{
    text-decoration: none;

    color: black;
    border: 1px solid black;

}

.button:hover{
    background-color:rgb(6, 34, 34);
    color: white;
    cursor: pointer;
}

input{

    padding: 8px;
}
label{
    cursor: pointer;
}
