<div id="carouselExampleControls" class="carousel slide mt-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://assets.ajio.com/medias/sys_master/images/images/h65/h39/32636517187614/31052021-D-MHP-topbanner-p1-paydaysale-4080.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://assets.ajio.com/medias/sys_master/images/images/hb1/h58/32636518957086/31052021-d-unisex-topcarousel-mainbanner-paydaysale-40to80Extra20.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://assets.ajio.com/medias/sys_master/images/images/h7f/hf3/32636519415838/31052021-d-unisex-topcarousel-casualwear-starting399.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  
  
  <div id="spotlight" class="clear staticSpot" style=" font-family:AdiHausPSReg,Helvetica Neue,Helvetica,Arial,sans-serif;padding-top:30px;">
  
    <div style="width: 100%; max-width: 1366px;margin: 0 auto;margin-top:80px;">
    <a id="SPTB_PRIDEPACK_170521" href="#" target="_blank"><img src="https://content.adidas.co.in/static/spotlight/pride_pack_1366x389_17th_May.jpg" alt="" style="width: 100%; max-width: 1366px;margin: 0 auto'"></a>
    
  </div>
  
    <div class="popular">
  <div style="text-align: center;font-size: 30px;line-height: 28px; text-transform: uppercase;letter-spacing: 1px;font-family: adineuePROBlack;color: #000000;margin-bottom: 20px;">Popular right now</div>
  <div style="margin: 0 auto;">
    <div class="keywords___3Vhr0">
      <a id="PRN1_FaceCover_030121" href="#" target="blank" class="gl-cta gl-cta--primary keyword__1Uu9Z">
      <span class="gl-cta__content">SHIRTS</span>
      <svg class="gl-icon gl-cta__icon">
      <use xlink:href="#arrow-right-long"><svg id="arrow-right-long" viewBox="0 0 24 24" width="100%" height="100%"><title>arrow-right-long</title><path d="M17.59 7l5 5-5 5M0 12h22" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2"></path></svg></use>
      </svg>
      </a>
      <a id="PRN2_Whitesneakers_020421" href="#" target="blank" class="gl-cta gl-cta--primary keyword__1Uu9Z">
      <span class="gl-cta__content">JEANS</span>
      <svg class="gl-icon gl-cta__icon">
      <use xlink:href="#arrow-right-long"><svg id="arrow-right-long" viewBox="0 0 24 24" width="100%" height="100%"><title>arrow-right-long</title><path d="M17.59 7l5 5-5 5M0 12h22" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2"></path></svg></use>
      </svg>
      </a>
      <a id="PRN3_Slides_030121" href="#" target="blank" class="gl-cta gl-cta--primary keyword__1Uu9Z">
      <span class="gl-cta__content">JUMPSUITS</span>
      <svg class="gl-icon gl-cta__icon">
      <use xlink:href="#arrow-right-long"><svg class="arrow-right-long" viewBox="0 0 24 24" width="100%" height="100%"><title>arrow-right-long</title><path d="M17.59 7l5 5-5 5M0 12h22" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2"></path></svg></use>
      </svg>
      </a>
      <a id="PRN4_Superstar_030121" href="#" target="blank" class="gl-cta gl-cta--primary keyword__1Uu9Z">
      <span class="gl-cta__content">SWEAT SHIRTS</span>
      <svg class="gl-icon gl-cta__icon">
      <use xlink:href="#arrow-right-long"><svg class="arrow-right-long" viewBox="0 0 24 24" width="100%" height="100%"><title>arrow-right-long</title><path d="M17.59 7l5 5-5 5M0 12h22" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2"></path></svg></use>
      </svg>
      </a>
      <a id="PRN5_Caps_020421" href="#" target="blank" class="gl-cta gl-cta--primary keyword__1Uu9Z">
      <span class="gl-cta__content">KURTAS</span>
      <svg class="gl-icon gl-cta__icon">
      <use xlink:href="#arrow-right-long"><svg class="arrow-right-long" viewBox="0 0 24 24" width="100%" height="100%"><title>arrow-right-long</title><path d="M17.59 7l5 5-5 5M0 12h22" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2"></path></svg></use>
      </svg>
      </a>
      <a id="PRN6_Shorts_250521" href="#" target="blank" class="gl-cta gl-cta--primary keyword__1Uu9Z">
      <span class="gl-cta__content">SHRUGS & BOLEROS</span>
      <svg class="gl-icon gl-cta__icon">
      <use xlink:href="#arrow-right-long"><svg class="arrow-right-long" viewBox="0 0 24 24" width="100%" height="100%"><title>arrow-right-long</title><path d="M17.59 7l5 5-5 5M0 12h22" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2"></path></svg></use>
      </svg>
      </a>
      
    </div>
    </div>
  </div>
    
  
  
  
  
  
  <div class="cta-container" style="margin-top: 20px;"> 
      <div class="container">
       
   
     
       
   
     <div class="cta-box span-6 spotlightBanner">
   <a id="SPT1_ARWAALBANAWI_270521" class="cta-link" href="#" target="_blank"><img src="https://assets.ajio.com/medias/sys_master/root/20210403/joka/60686c36aeb269a9e331e5c6/-473Wx593H-461088060-black-MODEL.jpg" alt="" class="cta-image w-100"></a>
   
    <div class="cta-link spotlightdiscription">
    <a class="cta-info" id="SPT1_ARWAALBANAWI_270521" href="#" target="_blank">
   <h6>Embellished Jumpsuit</h6>
    </a>
    <a class="cta-info" id="SPT1_ARWAALBANAWI_270521" routerLink="ej" target="_blank"><span class="cta">SHOP NOW </span></a>
   </div>
   </div>
   
   
   
   
     <div class="cta-box span-6 spotlightBanner">
   <a id="SPT2_NATIONALPARK_280521" class="cta-link" href="#" target="_blank"><img src="https://assets.ajio.com/medias/sys_master/root/ajio/catalog/5eff26aff997dd433b487123/-473Wx593H-410223788-navy-MODEL.jpg" alt="" class="cta-image w-100"></a>
   
    <div class="cta-link spotlightdiscription">
    <a class="cta-info" id="SPT2_NATIONALPARK_280521" href="#" target="_blank"><h6>ARMANI EXCHANGE</h6>
    </a>
    <a class="cta-info" id="SPT2_NATIONALPARK_280521" routerLink="ae" target="_blank"><span class="cta">SHOP NOW </span></a>
   </div>
   </div>
   </div>
   
   
   
   <div class="container">
     
   
   
   <div class="cta-box span-6 spotlightBanner">
   <a id="SPT3_ZXLEGO_250521" class="cta-link" href="#" target="_blank"><img src="https://assets.ajio.com/medias/sys_master/root/20210327/i626/605e8da9aeb269a9e32ad6cd/-473Wx593H-462190507-yellow-MODEL.jpg" alt="" class="cta-image w-100"></a>
   
    <div class="cta-link spotlightdiscription">
    <a class="cta-info" id="SPT3_ZXLEGO_250521" href="#" target="_blank"><h6>Floral Embroidered Straight Kurta with 3/4th Sleeves</h6>
    </a>
    <a class="cta-info" id="SPT3_ZXLEGO_250521" routerLink="fe" target="_blank"><span class="cta">SHOP NOW </span></a>
   </div>
   </div>
   
   
   
   
   <div class="cta-box span-6 spotlightBanner">
   <a id="SPT4_HUMANMADEPURESLIPON_250521" class="cta-link" href="#" target="_blank"><img src="https://assets.ajio.com/medias/sys_master/root/hf5/h61/16056197480478/-473Wx593H-461031945-grey-MODEL.jpg" alt="" class="cta-image w-100"></a>
   
    <div class="cta-link spotlightdiscription">
    <a class="cta-info" id="SPT4_HUMANMADEPURESLIPON_250521" href="#" target="_blank"><h6>Solid Blazer</h6>
    </a>
    <a class="cta-info" id="SPT4_HUMANMADEPURESLIPON_250521" routerLink="sb" target="_blank"><span class="cta"> SHOP NOW </span></a>
   </div>
   </div>
   </div>
   </div>
   
  
   <style>
    .home #contentWrapper {
        width: 1366px;
        margin: 0 auto;
    }
    
    .homePage #spotlight {
        background: 0;
        left: 0;
        width: 100%;
        min-width: 1116px;
        padding: 0;
        overflow: visible;
    }
    
    
    .home #spotlight .cta-container {
        width: 1116px;
        left: 50%;
        min-height: 406px;
        margin-left: -558px;
        position: relative;
      height: auto;
    }
    
    
    .cta-container .spotlightBanner {
        width: 548px;
        min-height: 406px;
        box-sizing: border-box;
        border: 1px solid #ffffff !important;
      text-decoration:none!important;
      transition: box-shadow 0.2s ease-in-out;
      margin:0px 5px 35px 5px !important;
    }
    
    .cta-container .spotlightBanner:hover {
       text-decoration:none!important;
        box-shadow: 0 0 20px rgba(0,0,0,.15) !important;}
    
    .home #spotlight .cta-box.span-6 .cta-image {
        width: 546px !important;
      min-height:307px !important;
      height:auto !important;
    }
    
    .cta-box .cta-link:hover{
        text-decoration:none!important;
        box-shadow:none !important;
        border:0 !important;
    }
    
    .cta-box .spotlightdiscription {padding:24px 0px; text-align:center;}
    
    .cta-box .spotlightdiscription h6 {font-family:AdineuePROBlack,Helvetica,Verdana,sans-serif!important; font-size:18px; text-transform: uppercase;letter-spacing:.5px;margin-bottom:10px; text-align:center;}
    
    
    
    .cta-box .cta-link .cta-info {
      text-decoration:none !important;
        position: relative;
        display: block;
        height: auto;
        background-color: #fff;
      color:#000000;
        font-size: 18px;
        line-height:14px;
        text-transform: uppercase;
        padding: 0;
      font-family:AdineuePROBlack!important;
    }
    .homePage #spotlight a {
        color: #000;
        text-decoration: none!important;
    }
    
    .cta-box:first-child {
        margin-left: 5px !important;
    }
    
    .cta-box .cta-link .cta-info .cta {
        width: 100%;
        text-align: center;
        bottom: 0;
      position: relative;
        left: 0;
        display: inline-block;
        line-height: 14px;
        font-size: 14px;
        font-weight: bold;
        color: #0286cd;
        text-decoration: none!important;
        text-transform: uppercase;
        white-space: nowrap;
        text-overflow: clip;
        padding: 0px;
        font-family: adihausregular;
    }
    
    .cta-box .cta-link:hover .cta-info .cta {
        text-decoration: none!important;
        font-Size: 14px;
      line-height:14px;
        color: #0286cd;
        font-family: adihausregular;
    }
    
    
    
    
    
    .containervideo {
      position: relative;
      text-align: center;
      color: white;
    }
    
    .textovervideo {
    position: absolute;
    top: 600px;
    color: #000;
    text-align: center;
    width:100%;
    max-width: 1366px;
        }
        
    .videosize {
      position: absolute;
      width:100%;
      max-width: 1366px;
      top: 0%;
      left: 0%;
    }
      
        
    .gl-cta {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-family: AdihausDIN,Helvetica,Arial,sans-serif;
    font-weight: 700;
    }
        
    .gl-cta--primary {
    background-color: #000;
    border-color: #fff;
    color: #fff !important;
    height: 50px;
    }    
    
    .gl-cta {
    align-items: center;
    border-radius: 0;
    cursor: pointer;
    display: inline-flex;
    justify-content: flex-start;
    line-height: 50px;
    min-height: 50px;
    padding: 0 21px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: transform .1s cubic-bezier(.3,0,.45,1),color .1s cubic-bezier(.3,0,.45,1),border .1s cubic-bezier(.3,0,.45,1),background .1s cubic-bezier(.3,0,.45,1);
    white-space: nowrap;
    width: auto;
    }
        
    .gl-cta--primary:before {
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    bottom: -3px;
    height: 3px;
    left: 3px;
    width: 100%;
    }    
    .gl-cta--primary:before {
    content: "";
    display: block;
    position: absolute;
    transition: .1s cubic-bezier(.3,0,.45,1);
    }    
     
    .gl-cta--primary:after {
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    height: 100%;
    right: -3px;
    top: 3px;
    width: 3px;
    }
        
    .gl-cta--primary:after {
    content: "";
    display: block;
    position: absolute;
    transition: .1s cubic-bezier(.3,0,.45,1);
    }  
    
    .gl-cta__icon {
    flex-shrink: 0;
    margin-left: 20px;
    }
    
    .gl-icon {
    display: inline-block;
    height: 24px;
    vertical-align: text-top;
    width: 24px;
    }
        
    .CTA_container {margin-top: 20px;}
        
     .title_main {
    color: #000;
    font-family: adineuePROBlack,Helvetica,Arial,sans-serif;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: 13px;
    letter-spacing: .5px;
    font-size:36px;
    }   
        
     .subtitle_main {
    color: #000;
    font-size: 16px;
    font-family: adihausregular;
    font-style: normal;
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    }      
      
    
      .popular {width:100%;
        max-width: 1440px; 
        margin-top: 30px;
        margin-bottom: 30px;
        position: relative;
        background-color:#e9eaed;
        padding: 10px;
        box-sizing: border-box;}
      .keywords___3Vhr0 {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding-left: 5px;
    padding-top: 15px;
        text-align: center;
    }
    .keywords___3Vhr0::-webkit-scrollbar {
    display: none;
    }	
      
    .gl-cta {
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: adihausregular,Helvetica,Arial,sans-serif;
    font-weight: 700;
    align-items: center;
    border-radius: 0;
    cursor: pointer;
    display: inline-flex;
    justify-content: flex-start;
    line-height: 50px;
    min-height: 50px;
    padding: 0 21px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: transform .1s cubic-bezier(.3,0,.45,1),color .1s cubic-bezier(.3,0,.45,1),border .1s cubic-bezier(.3,0,.45,1),background .1s cubic-bezier(.3,0,.45,1);
    white-space: nowrap;
    width: auto;
    }
      .keyword___1Uu9Z:before {
        display: none;}
      
      .keyword___1Uu9Z {
    border-radius: 25px;
    margin-right: 5px;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    height: 40px;
    min-height: 40px;
    padding: 0 10px 0 21px;
    line-height: 40px;
    margin-bottom: 10px;
    letter-spacing: 0;
    }
      .keyword___1Uu9Z:after  {
    display: none;
    }
      .gl-cta--primary:before {
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    bottom: -3px;
    height: 3px;
    left: 3px;
    width: 100%;
    }
      .gl-cta--primary:before {
    content: "";
    position: absolute;
    transition: .1s cubic-bezier(.3,0,.45,1);
    }
    .gl-cta--primary {
    transform: translate(-3px,-3px);
    background-color: #000;
    border-color: #fff;
    color: #fff;
    height: 50px;
    }
      
    .popular .gl-cta--primary:hover {
    color: #aaa !important;
    
    }	
        
      .gl-cta--primary:after {
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    height: 100%;
    right: -3px;
    top: 3px;
    width: 3px;
    }
      .gl-cta--primary:after {
    content: "";
    position: absolute;
    transition: .1s cubic-bezier(.3,0,.45,1);
    }
      
      .gl-cta__content {
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    }
      .gl-icon {
    display: inline-block;
    height: 24px;
    vertical-align: text-top;
    width: 24px;
    }
      .gl-cta__icon {
    flex-shrink: 0;
    margin-left: 20px;
    }
      .keyword___1Uu9Z svg {
    height: 12px;
    margin-left: 5px;
    }
    
      
    
    
    </style>
  
  
  
  <div class="tabbed-box">
  
  <style>
  .home #contentWrapper {
      width: 1366px;
      margin: 0 auto;
  }
  
  .homePage #spotlight {
      background: 0;
      left: 0;
      width: 100%;
      min-width: 1116px;
      padding: 0;
      overflow: visible;
  }
  
  
  .home #spotlight .cta-container {
      width: 1116px;
      left: 50%;
      min-height: 406px;
      margin-left: -558px;
      position: relative;
    height: auto;
  }
  
  
  .cta-container .spotlightBanner {
      width: 548px;
      min-height: 406px;
      box-sizing: border-box;
      border: 1px solid #ffffff !important;
    text-decoration:none!important;
    transition: box-shadow 0.2s ease-in-out;
    margin:0px 5px 35px 5px !important;
  }
  
  .cta-container .spotlightBanner:hover {
     text-decoration:none!important;
      box-shadow: 0 0 20px rgba(0,0,0,.15) !important;}
  
  .home #spotlight .cta-box.span-6 .cta-image {
      width: 546px !important;
    min-height:307px !important;
    height:auto !important;
  }
  
  .cta-box .cta-link:hover{
      text-decoration:none!important;
      box-shadow:none !important;
      border:0 !important;
  }
  
  .cta-box .spotlightdiscription {padding:24px 0px; text-align:center;}
  
  .cta-box .spotlightdiscription h6 {font-family:AdineuePROBlack,Helvetica,Verdana,sans-serif!important; font-size:18px; text-transform: uppercase;letter-spacing:.5px;margin-bottom:10px; text-align:center;}
  
  
  
  .cta-box .cta-link .cta-info {
    text-decoration:none !important;
      position: relative;
      display: block;
      height: auto;
      background-color: #fff;
    color:#000000;
      font-size: 18px;
      line-height:14px;
      text-transform: uppercase;
      padding: 0;
    font-family:AdineuePROBlack!important;
  }
  .homePage #spotlight a {
      color: #000;
      text-decoration: none!important;
  }
  
  .cta-box:first-child {
      margin-left: 5px !important;
  }
  
  .cta-box .cta-link .cta-info .cta {
      width: 100%;
      text-align: center;
      bottom: 0;
    position: relative;
      left: 0;
      display: inline-block;
      line-height: 14px;
      font-size: 14px;
      font-weight: bold;
      color: #0286cd;
      text-decoration: none!important;
      text-transform: uppercase;
      white-space: nowrap;
      text-overflow: clip;
      padding: 0px;
      font-family: adihausregular;
  }
  
  .cta-box .cta-link:hover .cta-info .cta {
      text-decoration: none!important;
      font-Size: 14px;
    line-height:14px;
      color: #0286cd;
      font-family: adihausregular;
  }
  
  
  
  
  /* top video */
  .containervideo {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .textovervideo {
  position: absolute;
  top: 600px;
  color: #000;
  text-align: center;
  width:100%;
  max-width: 1366px;
      }
      
  .videosize {
    position: absolute;
    width:100%;
    max-width: 1366px;
    top: 0%;
    left: 0%;
  }
    
      
  .gl-cta {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-family: AdihausDIN,Helvetica,Arial,sans-serif;
  font-weight: 700;
  }
      
  .gl-cta--primary {
  background-color: #000;
  border-color: #fff;
  color: #fff !important;
  height: 50px;
  }    
  
  .gl-cta {
  align-items: center;
  border-radius: 0;
  cursor: pointer;
  display: inline-flex;
  justify-content: flex-start;
  line-height: 50px;
  min-height: 50px;
  padding: 0 21px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: transform .1s cubic-bezier(.3,0,.45,1),color .1s cubic-bezier(.3,0,.45,1),border .1s cubic-bezier(.3,0,.45,1),background .1s cubic-bezier(.3,0,.45,1);
  white-space: nowrap;
  width: auto;
  }
      
  .gl-cta--primary:before {
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  bottom: -3px;
  height: 3px;
  left: 3px;
  width: 100%;
  }    
  .gl-cta--primary:before {
  content: "";
  display: block;
  position: absolute;
  transition: .1s cubic-bezier(.3,0,.45,1);
  }    
   
  .gl-cta--primary:after {
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  height: 100%;
  right: -3px;
  top: 3px;
  width: 3px;
  }
      
  .gl-cta--primary:after {
  content: "";
  display: block;
  position: absolute;
  transition: .1s cubic-bezier(.3,0,.45,1);
  }  
  
  .gl-cta__icon {
  flex-shrink: 0;
  margin-left: 20px;
  }
  
  .gl-icon {
  display: inline-block;
  height: 24px;
  vertical-align: text-top;
  width: 24px;
  }
      
  .CTA_container {margin-top: 20px;}
      
   .title_main {
  color: #000;
  font-family: adineuePROBlack,Helvetica,Arial,sans-serif;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 13px;
  letter-spacing: .5px;
  font-size:36px;
  }   
      
   .subtitle_main {
  color: #000;
  font-size: 16px;
  font-family: adihausregular;
  font-style: normal;
  width: 100%;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  }      
    
  /* top video end */
    
  /* popular now */
    .popular {width:100%;
      max-width: 1440px; 
      margin-top: 30px;
      margin-bottom: 30px;
      position: relative;
      background-color:#e9eaed;
      padding: 10px;
      box-sizing: border-box;}
    .keywords___3Vhr0 {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding-left: 5px;
  padding-top: 15px;
      text-align: center;
  }
  .keywords___3Vhr0::-webkit-scrollbar {
  display: none;
  }	
    
  .gl-cta {
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: adihausregular,Helvetica,Arial,sans-serif;
  font-weight: 700;
  align-items: center;
  border-radius: 0;
  cursor: pointer;
  display: inline-flex;
  justify-content: flex-start;
  line-height: 50px;
  min-height: 50px;
  padding: 0 21px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: transform .1s cubic-bezier(.3,0,.45,1),color .1s cubic-bezier(.3,0,.45,1),border .1s cubic-bezier(.3,0,.45,1),background .1s cubic-bezier(.3,0,.45,1);
  white-space: nowrap;
  width: auto;
  }
    .keyword___1Uu9Z:before {
      display: none;}
    
    .keyword___1Uu9Z {
  border-radius: 25px;
  margin-right: 5px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 14px;
  height: 40px;
  min-height: 40px;
  padding: 0 10px 0 21px;
  line-height: 40px;
  margin-bottom: 10px;
  letter-spacing: 0;
  }
    .keyword___1Uu9Z:after  {
  display: none;
  }
    .gl-cta--primary:before {
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  bottom: -3px;
  height: 3px;
  left: 3px;
  width: 100%;
  }
    .gl-cta--primary:before {
  content: "";
  position: absolute;
  transition: .1s cubic-bezier(.3,0,.45,1);
  }
  .gl-cta--primary {
  transform: translate(-3px,-3px);
  background-color: #000;
  border-color: #fff;
  color: #fff;
  height: 50px;
  }
    
  .popular .gl-cta--primary:hover {
  color: #aaa !important;
  
  }	
      
    .gl-cta--primary:after {
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  height: 100%;
  right: -3px;
  top: 3px;
  width: 3px;
  }
    .gl-cta--primary:after {
  content: "";
  position: absolute;
  transition: .1s cubic-bezier(.3,0,.45,1);
  }
    
    .gl-cta__content {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  }
    .gl-icon {
  display: inline-block;
  height: 24px;
  vertical-align: text-top;
  width: 24px;
  }
    .gl-cta__icon {
  flex-shrink: 0;
  margin-left: 20px;
  }
    .keyword___1Uu9Z svg {
  height: 12px;
  margin-left: 5px;
  }
  
    
  /* popular now */
  
  </style>
  
  
  
  
  
  
  <span id="footerSpan">
  <style>  
  .nav>li>a:focus{
  
  }
  .footer-actions-container {
  width: 100%;
  height: 92px;
  margin: 40px 0 0;
  background-color: #000;
  }
  .formfield label {
  width: 390px;
  letter-spacing: .5px;
  float: none;
  font-weight: 9;
  margin-right: 11px;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 22px;
  cursor: default;
  line-height: 25px;
  position: relative;
  
  
  }
  .formfield label span {
  color: #92d39f;
  text-transform: uppercase;
  }
  </style>
  
  <div class="footer-actions-container">
    <fieldset style="height:92px;">
    
    <div class="formfield" style="width: 950px;margin: 0 auto;">
          <div style="position: relative;display: inline-block;width: 400px;margin-top: 20px;">
          <label style="font-size:22px; font-family:AdineuePROBlack; letter-spacing:0.5px">Sign up &amp; get <span>15% off</span></label>			
          </div>
          <div style="display: inline-block;float: right;">	 	
            
           
               
       </div>
          
        <input type="hidden" name="signup_source" value="footer">
      <div style="color:#FFF;font-size:16px"> <a href="#" style="text-decoration: none;color: white;">FOLLOW US ON
    <img src="https://content.adidas.co.in/static/footer/insta_A.png" style="width:36px;"></a></div>
    </div>
    </fieldset>
    </div>
    </span>